@charset "utf-8";

/* Variables */
//default-setting

$main-color: #007aff;
$sub-main-color: #00c583;

//element
/* End: Variables */
//when: flexbox 사용시
@mixin custom-flex($align, $justify, $direction: row, $wrap: wrap) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
  flex-direction: $direction;
  flex-wrap: $wrap;
}

/* End: Mixins */
